/* 
  Description: Tribute page 
  Author: Samuel Felipe
  URL: https: //github.com/shemuelx/
*/

/* Variables */
:root {
  --mobile-max-width: 37em;
  --tablet-max-width: 42.5em;
  --desktop-max-width: 45em;

  --font-family: 'Old Standard TT', serif;
  --title-font-size: 3em;
  --subtitle-font-size: 2em;
  --content-font-size: 1.3em;
  --nav-font-size: 1.3em;
  --icon-font-size: 1.5em;
  --footer-font-size: 0.8em;

  --primary-color: #edf6f9;
  --secondary-color: #0c0f0a;
  --accent-color: #820b8a;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  line-height: 1.8;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-color);
}

ul {
  list-style-type: none;
}

a,
a:link {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
a {
  color: var(--secondary-color);
}

a:hover {
  color: crimson;
  transition: color .4s
}

a:checked {
  color: blueviolet
}

h1 {
  font-size: var(--title-font-size);
}

h2 {
  font-size: var(--subtitle-font-size);
  font-weight: 400;
}

p,
span {
  font-size: var(--content-font-size);
}

.container {
  max-width: var(--mobile-max-width);
  padding: 0 0.5em;

  @media only screen and (max-width: 64em) {
    max-width: var(--tablet-max-width);
    margin: 0 auto;
  }

  @media screen and (min-width: 64.5em) {
    max-width: var(--desktop-max-width);
    margin: 0 auto;
  }

  .header {

    h1,
    h2 {
      text-align: center;
      letter-spacing: 2px;
    }

    .image {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .navbar {
      margin: 3em 0;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        @media only screen and (max-width: 30em) {
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        li {
          padding: 0.6em;

          a {
            font-size: var(--nav-font-size);
            letter-spacing: 2px
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    text-wrap: stable;

    blockquote {
      p::before {
        content: '\201C';
      }

      p::after {
        content: '\201D';
      }
    }
  }

  .media {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;

    margin: 3em 0;

    p {
      text-align: left;
    }

    .icons {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          padding-left: 1em;
          padding-right: 1em
        }
      }
    }
  }

  .footer {
    font-size: var(--footer-font-size);
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid crimson
  }
}